Dokpool-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.bfs.de/IRIX/Extensions/Dokpool"
    elementFormDefault="qualified"
    version="1.1"
    xml:lang="en">
  <xs:element name="DokpoolMeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Purpose" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="Standard-Info Bundesmessnetze"/>
                  <xs:enumeration value="Standard-Info Land"/>
                  <xs:enumeration value="Standard-Info DWD"/>
                  <xs:enumeration value="PEP"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="DokpoolContentType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="eventinformation"/>
                  <xs:enumeration value="notification"/>
                  <xs:enumeration value="nppinformation"/>
                  <xs:enumeration value="weatherinformation"/>
                  <xs:enumeration value="trajectory"/>
                  <xs:enumeration value="nppprojection"/>
                  <xs:enumeration value="rodosprojection"/>
                  <xs:enumeration value="otherprojection"/>
                  <xs:enumeration value="gammadoserate"/>
                  <xs:enumeration value="airactivity"/>
                  <xs:enumeration value="groundcontamination"/>
                  <xs:enumeration value="mresult_feed"/>
                  <xs:enumeration value="mresult_food"/>
                  <xs:enumeration value="mresult_water"/>
                  <xs:enumeration value="situationreport"/>
                  <xs:enumeration value="instructions"/>
                  <xs:enumeration value="protectiveactions"/>
                  <xs:enumeration value="mediarelease"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DokpoolName" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="bund"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DokpoolGroupFolder" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="bund_e-rb"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DokpoolPrivateFolder" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="rb-fr"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DokpoolTransferFolder" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="bund_transfer"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element default="false" name="IsElan" type="xs:boolean" minOccurs="0">
        </xs:element>

        <xs:element default="true" name="IsDoksys" type="xs:boolean" minOccurs="0">
        </xs:element>

        <xs:element default="false" name="IsRodos" type="xs:boolean" minOccurs="0">
        </xs:element>

        <xs:element default="false" name="IsRei" type="xs:boolean" minOccurs="0">
        </xs:element>

        <xs:element name="ELAN">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="ElanScenarios" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="ElanScenario">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation>
                              <xs:enumeration value="all"/>
                              <xs:enumeration value="routine"/>
                              <xs:enumeration value="emergency_example_01"/>
                            </xs:documentation>
                          </xs:annotation>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="NetworkOperator" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="BfS (ABI)"/>
                  <xs:enumeration value="DWD"/>
                  <xs:enumeration value="ausländ. Messnetze"/>
                  <xs:enumeration value="BfS (ODL)"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="SampleTypeId">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="L5"/>
                  <xs:enumeration value="L51"/>
                  <xs:enumeration value="L52"/>
                  <xs:enumeration value="L53"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="SampleType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="Niederschlag"/>
                  <xs:enumeration value="Niederschlag (Aktivitätskonzentration)"/>
                  <xs:enumeration value="nasse Niederschläge (Deposition)"/>
                  <xs:enumeration value="trockene Niederschläge (Deposition)"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="Dom">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="Gamma-Spektrometrie"/>
                  <xs:enumeration value="Gesamt-Beta / Gesamt-Alpha"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="DataType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="LaDa"/>
                  <xs:enumeration value="OnMon"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

       <xs:element name="Area" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="DE"/>
                  <xs:enumeration value="ME"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

       <xs:element name="Duration" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="1h"/>
                  <xs:enumeration value="1d"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="OperationMode" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="Routine"/>
                  <xs:enumeration value="Intensiv"/>
                  <xs:enumeration value="Übung"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="Type" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="nass"/>
                  <xs:enumeration value="trocken"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

          <xs:element name="TrajectoryStartLocation" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
          </xs:restriction>
          </xs:simpleType>
        </xs:element>   

        <xs:element name="TrajectoryEndLocation" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
           </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="TrajectoryStartTime" type="xs:dateTime">
          <xs:simpleType>
            <xs:restriction base="xs:string">
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="TrajectoryEndTime" type="xs:dateTime">
          <xs:simpleType>
            <xs:restriction base="xs:string">
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="LegalBase" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="AVV IMIS"/>
              <xs:enumeration value="DENSE"/>
              <xs:enumeration value="EURDEP"/>
              <xs:enumeration value="KFÜ"/>
              <xs:enumeration value="Land"/>
              <xs:enumeration value="REI-E"/>
              <xs:enumeration value="REI-I"/>
              <xs:enumeration value="SPARSE"/>
              <xs:enumeration value="IRMIS"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="MeasuringProgram" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Intensivmessprogramm"/>
              <xs:enumeration value="REI"/>
              <xs:enumeration value="Routinemessprogramm"/>
              <xs:enumeration value="Spontanproben Bund"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="Status" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="nicht vergeben"/>
              <xs:enumeration value="plausibel"/>
              <xs:enumeration value="nicht repräsentativ"/>
              <xs:enumeration value="nicht plausibel"/>
              <xs:enumeration value="Rückfrage abgesetzt"/>
              <xs:enumeration value="Rücklauf bearbeitet"/>
              <xs:enumeration value="geprüft"/>
              <xs:enumeration value="ungeprüftl"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="SamplingBegin" type="xs:dateTime">
        </xs:element>

        <xs:element name="SamplingEnd" type="xs:dateTime">
        </xs:element>

        <xs:element name="CalculationDate" type="xs:dateTime">
        </xs:element>

        <xs:element name="NumericWeatherPredictionDate" type="xs:dateTime">
          <xs:simpleType>
            <xs:restriction base="xs:string">
            </xs:restriction>
          </xs:simpleType>
        </xs:element>


        <xs:element name="Model" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="Rimpuff"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="PrognosisBegin" type="xs:dateTime">
        </xs:element>

        <xs:element name="PrognosisEnd" type="xs:dateTime">
        </xs:element>

        <xs:element name="PrognosisForm" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="?"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="PrognosisType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="?"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="ProjectName" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="Fessenheim2018"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="ProjectUser" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="ruf-m"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="ReleaseSite" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="Fessenheim"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="ReportId" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <xs:enumeration value="123456"/>
                </xs:documentation>
              </xs:annotation>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="ReleaseStart" type="xs:dateTime">
        </xs:element>

        <xs:element name="ReleaseStop" type="xs:dateTime">
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
